{
    "syntax": "scss",
    "plugins": [
        "stylelint-prettier"
    ],
    "processors": [
        "stylelint-processor-styled-components"
    ],
    "extends": [
        "stylelint-config-recommended",
        "stylelint-config-styled-components",
        "stylelint-prettier/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            true,
            {
                "singleQuote": true,
                "tabWidth": 4
            }
        ],
        "value-keyword-case": null,
        "declaration-empty-line-before": "never",
        "unit-no-unknown": [
            true,
            {
                "ignoreUnits": [
                    "`"
                ]
            }
        ],
        "function-name-case": null
    }
}
